page-login {
    /* Reset CSS */
    .btnShowPassword{
        width: 40px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 20px 5px 5px 20px !important;
    }
    .item{
        padding:0;
        
    }
    .item-inner{
        padding:0 !important;
    }
}
