page-home-insurance-todolist {
    .headerTodolist{
        padding:1%;
        border-radius: 5px;
        margin-top: 5%;
        background-color:#f7f7f7;
    }
    .contentTodolist{
        border-radius: 5px;
        margin-left: 10%;
        background-color:#e7e7e7;
    }
}
