<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>notification</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-list>
        <div *ngFor="let notification of notifications">
          <ion-item (click)="toggleGroup(notification)"
            [ngClass]="{ active: isGroupShown(notification) }">
            
            <ion-icon item-right [name]="isGroupShown(notification) ? 'arrow-up' : 'arrow-down'"></ion-icon>
            {{notification.PubTtl}}
          </ion-item>
       
          <ion-item text-wrap *ngIf="isGroupShown(notification)">
            <div class="child-item">
              <h5 id="control-label">Announcement:</h5>
              <div style="margin-bottom:5px;" [innerHtml]="notification.PubInfo"></div>
            </div>
            <div class="child-item">
              <h5 style="text-align:right" id="control-label">Published Date: {{notification.PubDt | date: 'd MMM, y'}}</h5>
            </div>
          </ion-item>
      </div>
      </ion-list>

</ion-content>
