page-healthcare {
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;
  }
  h6{
    font-weight: 400;
  }
  .containerHome{
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .rowHome{
    font-size: 0px; /*Remove extra margins!*/
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .halfrowHome{
      display:inline-block;
      width:48%;
      margin:1%;
      text-align: center;
  }
  .iconInsurance{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
  }
  .textHomeName{
    color: white;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
  }
}
