page-findingmedicalproviders {
     
    #map {
        width: 100%;
        height: 100%;
    }
    .buttonControl{
        background:white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.75);
    }
    #btnListHos{
        margin-right: 10px;
        margin-top: 10px;
    }
    #btnGetCurrent{
        margin-right: 10px;
        margin-bottom: 25%;
    }

    #btnBooking{
        background-color: #154897;
        width: 40%;
        height: 30px;
        color: white;
        border: 2px solid #fc5555;
        text-align: center;
        border-radius: 5px;
    }

    //Disable click Logo
    .gm-style a[href^="https://maps.google.com/maps"] {
        pointer-events: none;
        cursor: default;
    }
    .gmnoprint a, .gmnoprint span{
        display: none;
    }
    .gmnoprint div {
        background:none !important;
    }
    .gm-style-cc{
        display: none !important;
    }

    .alertList{
        background:rgba(255, 233, 0, 0.2);
        margin-top:44px;
        padding:10px;

    }
}
