page-findingmedicalproviders {
    
    #map {
        width: 100%;
        height: 100%;
    }
    .buttonControl{
        background:white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
        text-align: center !important;
        padding: 0 14px 0 14px;
    }
    #btnListHos{
        right: 10px !important;
        bottom: 165px !important;
    }
    #btnGetCurrent{
        right: 10px !important;
        bottom: 100px !important;
    }

    #btnBooking{
        background-color: #154897;
        width: 40%;
        height: 30px;
        color: white;
        border: 2px solid #fc5555;
        text-align: center;
        border-radius: 5px;
    }

    //Disable click Logo
    .gm-style a[href^="https://maps.google.com/maps"] {
        pointer-events: none;
        cursor: default;
    }
    .gmnoprint a, .gmnoprint span{
        display: none;
    }
    .gmnoprint div {
        background:none !important;
    }
    .gm-style-cc{
        display: none !important;
    }

    .alertList{
        background:rgba(255, 233, 0, 0.2);
        margin-top:44px;
        padding:10px;
    }

    .item{
        padding:0;
        .item-inner{
            padding:0 !important;
            ion-label{
                margin:0;
            }
        }
    }
    .itemList{
        padding:10px;
        padding-left:13px;
        .iconItem{
            margin-right:10px;
        }
        .contentItem{
            h6{
                margin:0;
                font-weight: 500;
                word-wrap: break-word;
                white-space: normal;
                color:#000f1c;
            }
            p{
                margin:0;
                color:#ef1d26;
            }
        }
    }
    .col{
        padding:0;
    }
    
}
