page-home-insurance-submitclaim-guide {
    .content{
        opacity: 0.8;
    }
    ion-footer{
        padding:15px;
        button{
            width: 100%;
            padding:0;
            margin:0;
        }
    }
}
