page-home-insurance-directbilling {
    .headerSetting{
        padding: 0 15px 0 15px;
        transition: background-color 0.5s linear;
        .label{
            margin:0 !important;
        }
    }
    .search{
        width: 30px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        float: right;
        padding:0;
    }
    .iconSearch{
        float:right;
        font-size: 14px;
        right: 9px;
    }
    .searchbar-ios .searchbar-search-icon{
        left: none;
        right: 9px;
    }
    .searchbar-ios .searchbar-input{
        padding-right:0;
        height: 30px;
        background-color: #f8f8f8;
    }
    .searchbar-ios {
        min-height: unset;
        border-top: 0.55px solid transparent;
        border-bottom: none;
        background: none;
        height: 56px;
    }
    .list-header-md{
        padding-left:15px;
        border-bottom: 1px solid rgba(242, 243, 245, 1);
        margin-bottom:0;
    }
    .itemContainer:first-child{
        border-top: 10px solid rgba(242, 243, 245, 1);
    }
    .itemContainer{
        height: 110px;
        padding:15px;
        border-bottom: 10px solid rgba(242, 243, 245, 1);
        .itemContent{
            width: 100%;
            height:100%;
            padding-right: 65px;
            .hosName{
                width: 100%;
                color: #333333;
                font-weight: 600;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .hosAddress{
                color: #999999;
                font-size: 12px;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                // overflow: hidden;
            }
            .hosDistance{
                color: #999999;
                font-size: 12px;
                position: absolute;
                bottom: 0;
                .icon{
                    margin-right:5px;
                }
            }
        }
    }
    
    .itemIcon{
        position: absolute;
        right: 15px;
    }
    .logoMedical{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        margin:auto;
        height: 50px;
        width: 50px;
        border-radius:50%;
        background:linear-gradient(315deg, rgb(253, 55, 18) 0%, rgb(253, 55, 18) 0%, rgb(254, 143, 22) 100%, rgb(254, 143, 22) 100%);
        color:white;
    }
    .col{
        padding:0;
    }
    .cityName{
        position: absolute;
        height: 12.5px;
        left:30px;
        top: 0;
        bottom: 0;
        margin:auto;
    }
    .btnChange{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
    }
    .divRadar{
        border-radius:50%;
        position:absolute;
        height: 15px;
        width: 15px;
        z-index:-1;
        border: 1px solid rgba(66, 152, 181, 1) !important;
        background:none;
        left: 0;
        right:0;
        top:0;
        bottom:0;
        margin: auto;
    }
    #pulse1 {
        animation: pulsate 3s infinite;
        -webkit-animation: pulsate 3s infinite /* Safari and Chrome */
    }
    #pulse2 {
        animation: pulsate 3s 2.5s infinite;
        -webkit-animation: pulsate 3s 2.5s infinite /* Safari and Chrome */
    }
    #pulse1 div, #pulse2 div {
        background-color:#4298b5;
        -moz-opacity:0.4;
        -webkit-opacity:0.3;
        width:100%;
        height:100%;
        border-radius:50%;
        animation: fade 3s infinite;
        -webkit-animation: fade 3s infinite;
    }

    @-webkit-keyframes pulsate
    {
        0% {
            width:5px;
            height:5px;
            opacity:1
        } 
        90% {
            width:20px;
            height:20px;
            opacity:1
        }
        100% {
            width:25px;
            height:25px;
            opacity:0
        }
    }
    @keyframes pulsate
    {
        0% {
            width:5px;
            height:5px;
            opacity:1
        } 
        90% {
            width:20px;
            height:20px;
            opacity:0.5
        }
        100% {
            width:25px;
            height:25px;
            opacity:0
        }
    }
    @-webkit-keyframes fade
    {
        0% {
            -webkit-opacity:0.4;
        } 
        90% {
            -webkit-opacity:0.2;
        }
        100% {
            -webkit-opacity:0;
        }
    }
    @keyframes fade {
        0% {
            -moz-opacity:0.4;
        } 
        90% {
            -moz-opacity:0.3;
        }
        100% {
            -moz-opacity:0.1;
        } 
        
    }
}
