page-home-insurance-directbilling {
    .itemIcon{
        width: 100px;
    }
    .cityName{
        position: absolute;
        height: 12.5px;
        left:30px;
        top: 0;
        bottom: 0;
        margin:auto;
    }
    .btnChange{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .divRadar{
        border-radius:50%;
        position:absolute;
        height: 15px;
        width: 15px;
        z-index:-1;
        border: 1px solid rgba(66, 152, 181, 1) !important;
        background:none;
        left: 0;
        right:0;
        top:0;
        bottom:0;
        margin: auto;
    }
    #pulse1 {
        animation: pulsate 3s infinite;
        -webkit-animation: pulsate 3s infinite /* Safari and Chrome */
    }
    #pulse2 {
        animation: pulsate 3s 2.5s infinite;
        -webkit-animation: pulsate 3s 2.5s infinite /* Safari and Chrome */
    }
    #pulse1 div, #pulse2 div {
        background-color:#4298b5;
        -moz-opacity:0.4;
        -webkit-opacity:0.3;
        width:100%;
        height:100%;
        border-radius:50%;
        animation: fade 3s infinite;
        -webkit-animation: fade 3s infinite;
    }

    @-webkit-keyframes pulsate
    {
        0% {
            width:5px;
            height:5px;
            opacity:1
        } 
        90% {
            width:20px;
            height:20px;
            opacity:1
        }
        100% {
            width:25px;
            height:25px;
            opacity:0
        }
    }
    @keyframes pulsate
    {
        0% {
            width:5px;
            height:5px;
            opacity:1
        } 
        90% {
            width:20px;
            height:20px;
            opacity:0.5
        }
        100% {
            width:25px;
            height:25px;
            opacity:0
        }
    }
    @-webkit-keyframes fade
    {
        0% {
            -webkit-opacity:0.4;
        } 
        90% {
            -webkit-opacity:0.2;
        }
        100% {
            -webkit-opacity:0;
        }
    }
    @keyframes fade {
        0% {
            -moz-opacity:0.4;
        } 
        90% {
            -moz-opacity:0.3;
        }
        100% {
            -moz-opacity:0.1;
        } 
        
    }
}
